{package};

import info.xiaomo.core.net;
import io.netty.buffer.ByteBuf;

{import}

/**
 * {doc}
 */
public class {className} extends MessageBean {

{field}
{getterAndSetter}
	@Override
	public boolean read(ByteBuf buf) {
{read}
		return true;
	}
	
	@Override
	public boolean write(ByteBuf buf) {
{write}
		return true;
	}
}
